<p
    class="period"
    onclick="window.open('https://omscs.gatech.edu/'); return false;"
    onkeypress="window.open('https://omscs.gatech.edu/'); return false;"
    style="cursor: pointer;">
    2019 - 2023 (Expected)
</p>
<h3>Georgia Tech, Online Masters in Computer Science</h3>

<ul class="fill-circle" style="margin-left: 30px;">
    <li>Master of Science – Expected 2023</li>
    <li>Major: Computer Science</li>
    <ul class="fill-circle" style="margin-left: 30px;">
        <li>
            Specialization:
            <a href="https://omscs.gatech.edu/specialization-computing-systems" target="_blank">Computing Systems</a>
        </li>
    </ul>
</ul>