<p
    class="period"
    onclick="window.open('https://www.yu.edu/'); return false;"
    onkeypress="window.open('https://www.yu.edu/'); return false;"
    style="cursor: pointer;">
    2012 - 2016
</p>
<h3>Yeshiva University, Yeshiva College, New York, NY</h3>

<ul class="fill-circle" style="margin-left: 30px;">
    <li>Bachelor of Arts – May 2016</li>
    <li>Major: Computer Science</li>
    <ul class="fill-circle" style="margin-left: 30px;">
        <li>Data Structures, Algorithms, Computer Organization and Assembly Language, Web Programming and Development, Cybersecurity, Intro to CS</li>
        <li>Gertrude Nissenbaum Memorial Award for Excellence in Computer Science</li>
    </ul>
</ul>