<div class="period_container">
    <p class="period" style="margin: 5px;">August 2022 - Present</p>
    <a href="https://www.vimeo.com/" target="_blank"><img src="/static/_content/logos/vimeo.png"></a>
</div>
<h3>Sr. Data Engineer - Data Ops</h3>
<p><a href="https://www.vimeo.com/" target="_blank">Vimeo</a> - New York, NY</p>

<ul class="fill-circle">
    <li>Designed and developed entity-based data model for product analytics</li>
    <ul class="fill-circle">
        <li>Entities were designed to improve data governance and discoverability</li>
        <li>Created data standards by enforcing entity schemas cross-product</li>
    </ul>
</ul>