<div class="period_container">
    <p class="period" style="margin: 5px;">August 2022 - Present</p>
    <a href="https://www.vimeo.com/" target="_blank"><img src="/static/_content/logos/vimeo.png"></a>
</div>
<h3>Sr. Data Engineer - DataOps</h3>
<p><a href="https://www.vimeo.com/" target="_blank">Vimeo</a> - New York, NY</p>

<ul class="fill-circle">
    <li>Developed an entity-based data modeling framework for product analysis</li>
    <ul class="fill-circle">
        <li>Designed entities to improve data governance and discoverability</li>
        <li>Worked with product and analytics teams to ensure entities were comprehensive and well-defined</li>
        <li>Ensured that entity schemas were enforced cross-product</li>
        <li>Updated our underlying infrastructure to support the new framework</li>
    </ul>
    <li>Spearheaded efforts to increase data pipeline monitoring and meet SLAs</li>
</ul>