<div class="period_container">
    <p class="period" style="margin: 5px;">July 2017 - June 2019</p>
    <a href="https://www.alliancebernstein.com/" target="_blank"><img src="/static/_content/logos/alliancebernstein.png"></a>
</div>


<h3>Data Engineer</h3>
<p><a href="https://www.alliancebernstein.com/" target="_blank">AllianceBernstein LP</a> - New York, NY</p>

<ul class="fill-circle">
    <li>Lead data engineer working on building out multiple data pipelines for analyzing unstructured data</li>
    <ul class="fill-circle">
        <li style="font-weight: bold;">Corporate Filings</li>
        <ul class="fill-circle">
            <li>Pipeline to retrieve and process corporate filings from <a href="https://www.sec.gov/edgar.shtml" target="_blank">SEC Edgar Database</a></li>
            <li>Used <a href="https://scrapy.org/" target="_blank">Scrapy</a> (a <a href="https://www.python.org/" target="_blank">Python</a> based web scraping framework) to systematically retrieve documents</li>
            <li>Designed and developed process to convert HTML documents to plaintext and extract individual sections</li>
        </ul>
        <li style="font-weight: bold;">Earnings Transcripts</li>
        <ul class="fill-circle">
            <li>Built web crawler using <a href="https://www.seleniumhq.org/" target="_blank">Selenium</a> to scrape earnings transcripts from the internet on a daily basis</li>
            <li>Developed a web-based dashboard to quickly search through transcripts for specific key words</li>
            <ul class="fill-circle">
                <li>Searches for a company across time as well as a list of companies over a specific quarter</li>
            </ul>
        </ul>
        <li style="font-weight: bold;">Consumer Reviews for Cell Phones and Cars</li>
        <ul class="fill-circle">
            <li>Scraped reviews from various websites</li>
            <li>Designed database schema to integrate reviews from different sources seamlessly</li>
            <li>Built front-end <a href="https://angular.io/" target="_blank">Angular</a> dashboard allowing users to compare reviews across different products and websites</li>
            <ul class="fill-circle">
                <li>Contains interactive charts with review statistics</li>
            </ul>
        </ul>
        <li style="font-weight: bold;">Short Sellers</li>
        <ul class="fill-circle">
            <li>Performed analysis on short-seller investment firms to identify companies which misrepresent portfolio performance</li>
            <li>Built web scrapers to extract data from social media and news outlets</li>
            <li>Created process to identify historical short targets</li>
            <li>Compared list of short targets with short seller claims</li>
        </ul>
    </ul>
    <li>Established team infrastructure in Microsoft Azure for large-scale data analysis</li>
    <ul class="fill-circle">
        <li>Created Windows and Linux virtual machines to accommodate different workflows</li>
        <li>Utilized IaaS and self-hosted solutions for SQL and NoSQL databases</li>
        <li>Managed DataBricks cluster-computing environment</li>
    </ul>
</ul>