<p class="period">July 2016 - July 2017</p>
<h3>Software Developer</h3>
<p><a href="https://www.alliancebernstein.com/" target="_blank">AllianceBernstein LP</a> - New York, NY</p>

<ul class="fill-circle">
    <li>Created a new dataset for use in bond analysis</li>
    <ul class="fill-circle">
        <li>Built web scraper to retrieve commodities data from the internet</li>
        <li>Integrated web scraping process into the data retrieval pipeline already built by the team</li>
        <li>Enabled models to account for commodities data previously not available</li>
    </ul>

    <li>Created a new dataset for use in bond analysis</li>
    <ul class="fill-circle">
        <li>Reduced load time from 8 hours to 30 minutes</li>
    </ul>

    <li>Integrated vendor calculator to analyze Credit Risk Transfers into cluster environment</li>
    <ul class="fill-circle">
        <li>Calculator utilized data combined from multiple sources</li>
        <li>Cluster environment allowed for analysis of multiple CRTs simultaneously</li>
    </ul>

    <li>Involved in redesigning process to calculate internal bond rating using data from multiple vendors</li>
    <ul class="fill-circle">
        <li>Built pipeline to merge bond rating data using <a href="https://ihsmarkit.com/products/edm.html" target="_blank">Markit EDM</a></li>
        <li>Created internal bond rating using a set of business rules designed by the research team</li>
    </ul>

    <li>Created processes to migrate account data across internal systems</li>
    <ul class="fill-circle">
        <li>Synchronized internal account database with software to invest in derivatives</li>
        <li>Replaced manual account verification process and improved efficiency of business operations</li>
    </ul>
</ul>