<div class="period_container">
    <p class="period" style="margin: 5px;">February 2021 - August 2022</p>
    <a href="https://www.vimeo.com/" target="_blank"><img src="/static/_content/logos/vimeo.png"></a>
</div>
<h3>Data Engineer II - DataOps</h3>
<p><a href="https://www.vimeo.com/" target="_blank">Vimeo</a> - New York, NY</p>

<ul class="fill-circle">
    <li>Worked with product leaders across the company on event pipeline creation</li>
    <li>Used insights from working with product teams to improve our underlying data infrastructure</li>
    <li>Created an API for managing internal data pipeline configurations</li>
    <li>Built ETL pipelines using DBT and Airflow that are easy to maintain and adhere to company standards</li>
</ul>