<div class="period_container">
    <p class="period" style="margin: 5px;">October 2020 - August 2022</p>
    <a href="https://www.vimeo.com/" target="_blank"><img src="/static/_content/logos/vimeo.png"></a>
</div>
<h3>Data Engineer - Data Ops</h3>
<p><a href="https://www.vimeo.com/" target="_blank">Vimeo</a> - New York, NY</p>

<ul class="fill-circle">
    <li>Worked with product leaders across the company on event pipeline creation</li>
    <ul class="fill-circle">
        <li>Built and maintained real-time data pipelines for product analytics</li>
        <li>Performed event data modeling to ensure necessary data is captured while adhering to data standards</li>
        <li>Worked with data stewards to define standards which can be applied to all product offerings</li>
    </ul>
    <li>Used insights from working with product teams to improve our underlying data infrastructure</li>
</ul>