<div class="period_container">
    <p class="period" style="margin: 5px;">June 2019 - October 2020</p>
    <a href="https://www.vimeo.com/" target="_blank"><img src="/static/_content/logos/vimeo.png"></a>
</div>
<h3>Data Engineer - Data Platform</h3>
<p><a href="https://www.vimeo.com/" target="_blank">Vimeo</a> - New York, NY</p>

<ul class="fill-circle">
    <li>Developed infrastructure for data ingestion pipelines across all Vimeo product offerings</li>
    <ul class="fill-circle">
        <li>Event ingestion server written in Go</li>
        <li>Kafka messaging backend</li>
        <li>Kafka Streams implementation for real-time data validation and routing</li>
    </ul>
    <li>Built ETL pipelines for parsing CDN logs</li>
</ul>