<div class="period_container">
    <p class="period" style="margin: 5px;">August 2013 - January 2015</p>
    <a href="https://www.customvite.com/" target="_blank"><img src="/static/_content/logos/customvite.png"></a>
</div>
<h3>Software Developer and IT Technician (Part-Time)</h3>
<p><a href="https://www.customvite.com/" target="_blank">NutriLab LLC</a> - Hackensack, NJ</p>

<ul class="fill-circle">
    <li>Developed an algorithm that interprets questionnaire responses to assess nutrient deficiencies and generate a nutritional supplement recommendation; algorithm dramatically increased the productivity of the nutrition staff</li>
    <li>Managed equipment provided by the company for employees, performed routine checks, researched and suggested new equipment to purchase</li>
    <li>Provided technical support to employees who need help with using company equipment such as computers, printers, network storage, and cell phones</li>
</ul>