<div class="period_container">
    <p class="period" style="margin: 5px;">June 2014 - August 2014</p>
    <a href="https://www.hungryinc.com/" target="_blank"><img src="/static/_content/logos/hungry.png"></a>
</div>
<h3>Software Development Intern</h3>
<p><a href="https://hungryinc.com/" target="_blank">Hungry Inc.</a> - Brooklyn, NY</p>

<ul class="fill-circle">
    <li>Tasked with developing three products used to aid development and experiment with new technologies for start-up focused on website and mobile application development</li>
    <li>Developed Scaffold, a web platform which builds a quick rudimentary API designed to speed up front-end development</li>
    <ul class="fill-circle">
        <li>Scaffold back-end uses Laravel and front-end uses AngularJS</li>
        <li>User can specify request headers, response headers, endpoints, and sample data</li>
        <li>Generates active sample API link which returns JSON data that front-end developers can use for testing</li>
    </ul>
    <li>Developed applications for Mac and Android using the openFrameworks SDK</li>
    <ul class="fill-circle">
        <li>HungryCircles – Grabs pixel color from camera and draws circles with random radii and z index</li>
        <li>AirDraw – User selects a unique color from the camera and AirDraw tracks the color on the screen</li>
    </ul>
</ul>