<div class="period_container">
    <p class="period" style="margin: 5px;">June 2011 - August 2011</p>
    <img src="/static/_content/logos/idt.png">
</div>
<h3>Tech Support (End User Support)</h3>
<p><a href="https://www.idt.net/" target="_blank">IDT Corporation</a> - Newark, NJ</p>

<ul class="fill-circle">
    <li>Provided tier one support</li>
    <ul class="fill-circle">
        <li>Answered phone calls</li>
        <li>Helped IDT employees with any issues related to technology given to them by the company</li>
    </ul>
    <li>Repaired corporate blackberries and computers</li>
    <li>Reimaged computers using Altiris</li>
    <li>Unlocked domain accounts (Windows)</li>
</ul>