<div class="period_container">
    <p class="period" style="margin: 5px;">June 2019 - February 2021</p>
    <a href="https://www.vimeo.com/" target="_blank"><img src="/static/_content/logos/vimeo.png"></a>
</div>
<h3>Data Engineer - Data Platform</h3>
<p><a href="https://www.vimeo.com/" target="_blank">Vimeo</a> - New York, NY</p>

<ul class="fill-circle">
    <li>Developed infrastructure for data ingestion pipelines across all Vimeo product offerings</li>
    <ul class="fill-circle">
        <li>Enhanced our in-house Kafka message validation service</li>
        <li>Created a Kafka stream processing framework which included filtering, transforming, and routing messages to multiple destinations</li>
        <li>Designed a web application for users to view and manage data schemas</li>
    </ul>
    <li>Built ETL pipelines for parsing CDN logs</li>
</ul>